* {
  margin: 0px;
  padding: 0px;
}

div {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: orange;
}
h2 {
  font-size: 3rem;
  color: red;
  font-weight: bold;
}
p {
  color: pink;
}
